In [15]:
# Import Beautiful Soup and load data
from bs4 import BeautifulSoup
import pandas as pd
import requests
#url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"
#GDP = requests.get(url).text
#soup = BeautifulSoup(GDP)

fd = open("List of countries by GDP (nominal) - Wikipedia.htm","r",encoding = 'utf-8')
soup = BeautifulSoup(fd)
fd.close

In [16]:
# Number of tables
all_tables = soup.find_all("table")
print("Total number of tables are {} ".format(len(all_tables)))

Total number of tables are 9

In [17]:
# Locate correct table
data_table = soup.find("table", {"class: ", '"wikitable"|}'})
print(type(data_table))

<class 'bs4.element.Tag'>

In [26]:
# Seperate the sources
sources = data_table.tbody.findAll('tr', recursive=False)[0]
sources_list = [td for td in sources.findAll('td')]
print("Total number of sources are {}".format(len(sources_list)))

Total number of sources are 3

In [27]:
# Source Names
data = data_table.tbody.findAll('tr', recursive=False)[1].findAll('td', recursive=False)
data_tables = []
for td in data:
    data_tables.append(td.findAll('table'))
source_names = [source.findAll('a')[0].getText() for source in sources_list]
print(source_names)

['International Monetary Fund', 'World Bank', 'United Nations']

In [36]:
# Header 1
header1 = [th.getText().strip() for th in data_tables[0][0].findAll('thead')[0].findAll('th')]
print(header1)

['Rank', 'Country', 'GDP(US$MM)']

In [37]:
# Dataframe 1
rows1 = data_tables[0][0].findAll('tbody')[0].findAll('tr')[1:]
data_rows1 = [[td.get_text().strip() for td in tr.findAll('td')] for tr in rows1]
df1 = pd.DataFrame(data_rows1, columns = header1)
print(df1.head())

  Rank         Country  GDP(US$MM)
0    1   United States  19,390,600
1    2      China[n 1]  12,014,610
2    3           Japan   4,872,135
3    4         Germany   3,684,816
4    5  United Kingdom   2,624,529

In [38]:
# Header 2
header2 = [th.getText().strip() for th in data_tables[1][0].findAll('thead')[0].findAll('th')]
print(header2)

['Rank', 'Country', 'GDP(US$MM)']

In [41]:
# Dataframe 2
def remove_char(i, td):
    if i == 0:
        return td.getText().strip()
    elif i == 1:
        return td.getText().strip()
    else:
        index = td.text.find("â™ ")
        return td.text[index+1:].strip()

rows2 = data_tables[1][0].findAll('tbody')[0].findAll('tr')[1:]
data_rows2 = [[remove_char(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in rows2]
df2 = pd.DataFrame(data_rows2, columns = header2)
print(df2.head())

  Rank             Country  GDP(US$MM)
0    1       United States  19,390,604
1       European Union[23]  17,277,698
2    2          China[n 4]  12,237,700
3    3               Japan   4,872,137
4    4             Germany   3,677,439

In [42]:
# Header 3
header3 = [th.getText().strip() for th in data_tables[2][0].findAll('thead')[0].findAll('th')]
print(header3)

['Rank', 'Country', 'GDP(US$MM)']

In [45]:
# Dataframe 3
rows3 = data_tables[2][0].findAll('tbody')[0].findAll('tr')[1:]
data_rows3 = [[remove_char(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in rows3]
df3 = pd.DataFrame(data_rows3, columns = header3)
print(df3.head())

  Rank         Country  GDP(US$MM)
0    1   United States  18,624,475
1    2      China[n 4]  11,218,281
2    3           Japan   4,936,211
3    4         Germany   3,477,796
4    5  United Kingdom   2,647,898